* {
    margin: 0;
    padding: 0;
}

.zero__container {
    width: 100%;
    height: 200px;
    background: #979797;
}

.main__contact {
    margin: 100px auto;
    display: flex;
}

.zero__container {
    width: 100%;
    height: 2px;
    background: #F2F2F2;
}

.main__contact {
    margin: 10px auto;
}


.section__img {
    margin-left: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}